<div class="signin-view" ng-controller="signinController">
	<div class="signin-form-group form-group">
		<form class="form-input signin-input" ng-submit="persist()" ng-hide="user.username">
			<input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" />
		</form>
		<form class="form-input signin-input" ng-hide="!user.username || user.password" ng-submit="persist()">
			<input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" />
		</form>
		<form class="form-input signin-input" ng-hide="!user.password || user.postcode" ng-submit="persist()">
			<input type="text" id="postcode" class="form-control" placeholder="Postcode" ng-model="postcode" />
		</form>
		<h1 class=".signin-welcome"ng-hide="!formComplete">Welcome to TradeIt, {{user.username}}!</h1>
	</div>
</div>